<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de cookie</title>
</head>
<body>
    <h1> Criador de cookie </h1>
    <h3> Coloque seu nome </h3>
    <form action="/criar_cookie" method="POST">
        <input type="text" name="nome" placeholder="Seu nome">
        <input type="submit" value="criar">
    </form> <br>
    <a href="/ver_cookie"> Ver informações do cookie </a> <br>
    <a href="/deletar_cookie"> Deletar cookie </a>
</body>
</html>