<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p> Nome do usuário:  {{nome_usuario}}</p>
        <p> Id de sessão: </p>
        <p> Idioma: </p>
    </div>

    <div>
        <p> Duração do cookie:  </p>

    </div>
    <div>
        <p>Tema do navegador: </p>
        <p>Timestamp da visita: </p>
        <p>Sistema operacional: </p>

    </div>
</body>
</html>