<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p> Nome do usuário:  {{dados.nome_salvo}}</p>
        <p> Id de sessão: </p>
        <p> Idioma: {{dados.idioma}}</p>
    </div>

    <div>
        <p> Criação do cookie: {{dados.criacao_cookie}}</p>
        <p> Duração do cookie: </p>

    </div>
    <div>
        <p>Tema do navegador: </p>
        <p>Timestamp da visita: {{dados.timestamp}}</p>
        <p>Origem da visita: {{dados.referencia}}</p>
        <p>Sistema operacional: </p>

    </div>
</body>
</html>